.createcourse {
  padding: 20px 0;
}

.createcourse-right {
  float: inline-end;
  display: inline;
  padding: 10px;

}

.createcourse-author {
  padding: 10px 0;
}

.titles{
  display:flex;
  margin: 0 auto;
  justify-content: center;
}

.addauthor-center { 
 
  justify-content: center;
}

.listautores{
  padding:10px 0;
}

.agregarnombre {
  padding:20px 0;  
}

.duration-title{
  padding:30px 0;  
}

h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.courseauhtors{
  padding:50px 0;  
}