.logo { 
    color: white;    
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.spantexto { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding:10px;
}

.logo-titulo{
    display: inline-block;
}